.App {
  text-align: center;
  text-justify: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: FFBF00;
}

.App-link {
  color: ivory;
}
.App-body {
  background-color: #F5F5F5;
  margin-left: 25%;
  margin-right: 25%;
}
.list-body {
  background-color: lightgrey;
  margin: 4%;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
